{% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.js"></script>

    <link rel="stylesheet" href="{% static '' %}css/style.css">
    <link rel="stylesheet" href="{% static '' %}css/loader-style.css">
    <link rel="stylesheet" href="{% static '' %}css/bootstrap.css">
    <link rel="stylesheet" href="{% static '' %}css/material.min.css">
    <!-- <link rel="stylesheet" href="{% static '' %}css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="{% static '' %}css/skin-select.css">
    <link rel="stylesheet" type="text/css" href="{% static '' %}css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '' %}css/bootstrap-datetimepicker.min.css">

    <!-- <link rel="stylesheet" href="{% static '' %}froala/css/froala_editor.min.css">
    <link rel="stylesheet" href="{% static '' %}froala/css/froala_editor.pkgd.min.css"> -->


    <!-- <link href="{% static '' %}js/footable/css/footable.core.css?v=2-0-1" rel="stylesheet" type="text/css" />
    <link href="{% static '' %}js/footable/css/footable.standalone.css" rel="stylesheet" type="text/css" />
    <link href="{% static '' %}js/footable/css/footable-demos.css" rel="stylesheet" type="text/css" /> -->

    <!-- <link rel="stylesheet" href="{% static '' %}js/dataTable/lib/jquery.dataTables/css/DT_bootstrap.css" />
    <link rel="stylesheet" href="{% static '' %}js/dataTable/css/datatables.responsive.css" /> -->


    <!-- <script type="text/javascript" src="{% static '' %}froala/js/froala_editor.min.js"></script>
    <script type="text/javascript" src="{% static '' %}froala/js/froala_editor.pkgd.min.js"></script> -->

    <!-- <script type="text/javascript">
        $(document).ready(function () {
           $('textarea').froalaEditor();
        });
    </script>
 -->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{% static '' %}ico/minus.png">
