{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>{% block title %}{% endblock title %}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">	
	{% block additional_style %}

    {% endblock %}
	<link rel="shortcut icon" href="{% static '' %}ico/minus.png">
</head>
<body>
	<br>
	<div class="col-md-2 col-md-offset-5">
		<img alt="Logo" src="{% static '' %}img/invoice_manager_logo.png" width="170">
	</div>
	<br>
	{% block body %}
	    
	{% endblock body %}

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.js"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

	{% block additional_script %}

    {% endblock %}

</body>
</html>