{% extends "layouts/base.html" %}
{% load static %}
{% block head_title %}
| {{ title }} List
{% endblock %}

{% block additional_style %}
    <link rel="stylesheet" href="{% static '' %}js/dataTable/css/jquery.dataTables.min.css" />
{% endblock additional_style %}

{% block breadcrumb %}
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="{% url "Accounts:collection_index" %}">{{ title }} List</a>
    </li>
{% endblock %}

{% block title %}
{{ title }} List
{% endblock %}

{% block button_container %}
    <a href="{% url "Accounts:collection_save" %}" class="btn btn-primary pull-right">Add {{ title }}</a>
{% endblock button_container %}

{% block content %}
    <table class="table table-bordered" id="data-table-example">
        <tfoot>
            <tr>
                <th></th>
                <th>
                    Invoice No.
                </th>
                <th>Collection Date</th>
                <th></th>
            </tr>
        </tfoot>
        <thead class="thead-inverse">
            <tr>
                <th width="5%" class="align-center">SL</th>
                <th>
                    Invoice No.
                </th>
                <th>Collection Date</th>
                <th class="align-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for collection in collections %}
            <tr>
                <td class="align-center">{{ forloop.counter }}</td>
                <td>{{ collection.invoice }}</td>
                <td>{{ collection.collection_date }}</td>
                <td class="align-center">
                    <a href="" onclick="showDetail({{ collection.id }}); return false;"><span class="glyphicon glyphicon-search text-success"></span></a>| 
                    <a href="{% url "Accounts:collection_delete" collection.get_encoded_id %}" onclick="return confirm('Are you sure to delete this Collection?')"><span class="glyphicon glyphicon-remove text-warning"></span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="modal fade" tabindex="-1" role="dialog" id="detailModal"></div>

    
{% endblock content %}
    
{% block additional_script %}
    <script type="text/javascript" src="{% static '' %}js/dataTable/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{% static '' %}js/dataTable/js/dataTables.material.min.js"></script>
  <script type="text/javascript">

        $(document).ready(function(){
            search_columns = [1,2];
            select_columns = []
            var table = $('#data-table-example').DataTable({
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "dom": '<"top"l>rt<"bottom"<"pull-left"i><"pull-right"p>>',
                "searching": true,
                "columnDefs": [
                    {
                        "targets": [0, 3],
                        "sortable": false,
                    }],
                initComplete: function (){
                    initSelectBox(this, select_columns);    
                }
            });
            initSearchBox(table, search_columns);

        });

        function initSearchBox(table, search_columns){
            var tfoot_ths = $('table tfoot th');
            search_columns.forEach(function(i){
                var tfoot_th = tfoot_ths[i];
                var title = $.trim($(tfoot_th).text());
                $(tfoot_th).html( '<input type="text" class="filter"/>' );
            });

            table.columns(search_columns).every( function () {
                var that = this;
                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                });
            });
        }

        function initSelectBox(table, select_columns){
            table.api().columns(select_columns).every( function () {
                var column = this;
                var select = $('<select><option value="">-----All-----</option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
                
                column.data().unique().sort().each( function ( d, j ) {
                    val = $(d).text();
                    select.append('<option value='+val+'>'+val+'</option>');
                } );
            });
        }

        function showDetail(id){
            var modal = $('#detailModal');
            $.ajax({
                url: "{% url "Accounts:collection_detail" 0 %}".replace('0', id),
                success: function(response){
                    modal.html(response);
                    modal.modal();
                },
                error: function(){
                    console.log("problem loading modal data");
                }
            });
        }

  </script>
    
{% endblock additional_script %}