{% extends "layouts/base.html" %}
{% load static %}
{% block head_title %}
| {{ title }} List
{% endblock %}

{% block additional_style %}
	
{% endblock additional_style %}

{% block breadcrumb %}
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="{% url "Portfolio:portfolio_index" %}">{{ title }} List</a>
    </li>
{% endblock %}

{% block title %}
{{ title }} List
{% endblock %}

{% block button_container %}
    <a href="" class="btn btn-primary pull-right" onclick="save(null); return false;">Add {{ title }}</a>
{% endblock button_container %}

{% block content %}
	<table class="table table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th class="align-center">SL</th>
				<th>Portfolio Name</th>
				<th>Start Date</th>
				<th>Duration</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for portfolio in portfolios %}
				<tr>
					<td class="align-center">{{ forloop.counter }}</td>
					<td>{{ portfolio.name }}</td>
					<td>{{ portfolio.start_date }}</td>
					<td>{% if portfolio.status %}
					   		 Continued....
					   	{% else %}
					   	    {{ portfolio.start_date|timesince:portfolio.end_date }}
						{% endif %}
					</td>
					<td><span class="label label-{% if portfolio.status %}success {% else %} default{% endif %}">{{ portfolio.get_status }}</span></td>
					<td>
						<a href="" onclick="showDetail({{ portfolio.id }}); return false;" title="Show Detail"><span class="glyphicon glyphicon-search text-success"></span></a>| 
						<a href="" onclick="save({{ portfolio.id }});return false;" title="Edit"><span class="glyphicon glyphicon-edit text-info"></span></a>| 
						<a href="{% url "Portfolio:portfolio_delete" portfolio.get_encoded_id %}" onclick="return confirm('Are you sure to delete this data?');" title="Delete"><span class="glyphicon glyphicon-remove text-warning"></span></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>	
	</table>

<div class="modal fade" tabindex="-1" role="dialog" id="saveModal"></div>
<div class="modal fade" tabindex="-1" role="dialog" id="detailModal"></div>
	
{% endblock content %}


{% block additional_script %}
    <script type="text/javascript">

    	function save(id){
			var modal = $('#saveModal');
			var url = (id==null)? "{% url "Portfolio:portfolio_save"%}" : "{% url "Portfolio:portfolio_save" 0 %}".replace('0', id);

			$.ajax({
				url: url,
				success: function(response){
					modal.html(response);
					$('#saveModal').modal();
					$('#saveFrm').submit(function(e){
				        e.preventDefault();
				  		store($(this), url);
				  	});
				},
				error: function(){
					console.log("problem loading modal data");
				}
			});
    	}

    	function store(form, url){
    		$.ajax({
    			method: 'POST',
    			url: url,
    			data: form.serialize(),
    			success: function(msg){
    				console.log(msg);
    				location.reload();
    			},
    			error: function(){
    				console.log("problem creating data");
    			}
    		});
    	}

    	function showDetail(id){
    		var modal = $('#detailModal');
    		$.ajax({
    			url: "{% url "Portfolio:portfolio_detail" 0 %}".replace('0', id),
    			success: function(response){
    				modal.html(response);
    				modal.modal();
    			},
    			error: function(){
					console.log("problem loading modal data");
				}
    		});
    	}
    </script>
{% endblock additional_script %}
