{% extends "layouts/base.html" %}
{% load static %}

{% block head_title %}
| Change Password
{% endblock %}

{% block breadcrumb %}
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="{% url "Auth:change_password" %}" title="Users Registration">Change Password</a>
    </li>
{% endblock %}

{% block title %}
Change Password
{% endblock %}

{% block content %}
	<div class="panel-body">
	    <form action="" method="POST" class="form-horizontal bucket-form">
			{% csrf_token %}
			{% for field in form.visible_fields %}
				<div class="form-group">
                    <label class="col-sm-3 control-label" for="{{ field.id_for_label }}">{{ field.label }}
                    {% if field.field.required %}<span class="required_field_indicator">*</span>{% endif %}</label>
                    <div class="col-sm-6 form_input_container">
                        {{ field }}
                        <div {% if field.errors %}class="error"{% endif %}>
                        {% for error in field.errors %}
                            {{ error|escape }} 
                        {% endfor %}
                        </div>
                    </div>
                </div>
			{% endfor %}
			<div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit" class="btn btn-primary" value="Save">&nbsp;&nbsp;
                    <a href="{{ next }}" class="btn btn-danger">Cancel</a>
                </div>
            </div>
		</form>
	</div>
{% endblock content %}