{% extends "layouts/login_base.html" %}
{% load static from staticfiles %}

{% block title %}
    Reset Password
{% endblock title %}

{% block additional_style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
{% endblock additional_style %}

{% block body %}
	<div class="container">
		<div class="" id="login-wrapper">
	        <div class="row">
	            <div class="col-md-4 col-md-offset-4">
	                <div id="logo-login">
	                    <h1>Reset Password</h1>
	                </div>
	            </div>
	        </div>

	        <div class="row">
	            <div class="col-md-4 col-md-offset-4">
	                <div class="account-box">
	                	{% if form.non_field_errors %}
	                		<div class="alert alert-danger" role="alert">
	                			<button data-dismiss="alert" class="close" type="button">×</button>
		                	    {% for error in form.non_field_errors %}
		                	    	<p>{{ error }}</p>
		                	    {% endfor %}
	                	   	</div>
	                	{% endif %}
	                	
	                    <form role="form" action="" method="POST">
	                    	{% csrf_token %}
	                    	{% for field in form %}
	                    		<div class="form-group has-feedback has-feedback-left">
		                            <label for="{{ field.id_for_label }}"> {{ field.label }} </label>
		                            {{ field }}
		                          	<i class="form-control-feedback glyphicon glyphicon-lock"></i>
		                          	<div {% if field.errors %}class="error"{% endif %}>
				                        {% for error in field.errors %}
				                            {{ error|escape }} 
				                        {% endfor %}
			                        </div>
	                        	</div>
	                    	{% endfor %}

	                        <button class="btn btn-primary" type="submit">
	                            Submit
	                        </button>
	                    </form>
	                </div>
	            </div>
	        </div>
    	</div>
	</div>
    
{% endblock body %}
